* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    color: #000000;
    
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(15, 167, 167);
    color: #ffffff;
}

header h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(54, 11, 78);
    font-size: 60px;
}

header h1 .seo {
    color: black;
}

h3 {
    margin: 2%;
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



header h3 ul li {
    display: inline-block;
    margin-left: 25px;
    justify-content: center;
}

a {
    color: gray;
    text-decoration: none;
}
 

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.profile-pic {
    display: block;
    margin: 4%;
    align-content: center;
    justify-content: center;
}
    


.center{
    align-content: center;
    justify-content: center;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.social-media-marketing, .online-reputation-management, .search-engine-optimization{ 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


img {
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

.footer h2 {
    font-size: 20px;
}
