* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body { 
    color: #000000;
    
}

header {
    padding: 20px;
    font-family:'Brush Script MT','Brush Script Std', 'cursive';
    background-color: rgb(15, 167, 167);
    color: #ffffff;
    
}

header h1 {
    text-align: center;
    color: black;
    background-color: rgb(15, 167, 167);
    font-size: 80px;
}


header h1 .seo {
    color: black;
}

h3 {
    display: inline;
    margin: 2%;
    text-align: center;
    font-family: 'Brush Script MT','Brush Script Std', 'cursive';
    font-size: 20px;
}

.Contact{
  
    margin-left: 800px;
    justify-content: center;
}

header h3 ul{
    display: flex;
    list-style-type: none;
    margin-left: 550px ;
}

header h3 ul li {
    text-align: center;
    margin-left: 25px;
    justify-content: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.edu, .tech, .proj, .pro, .cont {
transition: transform 600ms;
}
.edu:hover, .tech:hover, .proj:hover, .pro:hover, .cont:hover{
    transform: translateY(-10px);
    text-decoration: underline;
    
  }
 


p {
    margin: 1%;
    font-size: 16px;
}

.categories {
    background-image: url("../images/background.jpg");
    background-size: auto;
    background-position: center;
    margin:15% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

.categories ul li {
    margin: 2%;
    list-style-type: square;
      
}
.categories a{
    text-decoration: underline;
    color: blue;
}

.categories a :focus{
    color: black;
}

.profile-pic img {
    display: block;
    margin: 7% 45% ;
    position: absolute;
    object-position: center ;
    border-radius: 50%;
    
    border: 5px solid black;
}

.profile-pic img:hover{
    transition: transform 600ms;
    transform:scale(1.8);
}

.center{
    align-content: center;
    justify-content: center;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 50%;
    display: inline-block;
    margin-left: 20px;   
}

.Professional-Experience img{
    transform:scale(0.7);
}

.Technical-Skill img {
    transform:scale(0.2);
}

.Education, .Projects, .Professional-Experience, .Technical-Skills{ 
    margin: 25% 2% 2% 2%;
    justify-content:space-around;
    padding: 20px;
    height: 750px;
    border:rgb(168, 117, 75) dashed 5px;
    font-family:'Brush Script MT','Brush Script Std', 'cursive';
    background: linear-gradient(110deg, rgba(15, 167, 167, 0.664) 60%, rgba(209, 141, 86, 0.692) 60%);
    color: #ffffff;
    transition: background-color 1s;
    background-size:cover;
}

.Education:hover, .Projects:hover, .Professional-Experience:hover, .Technical-Skills:hover{
    background: linear-gradient(110deg, rgb(15, 167, 167) 60%, rgb(209, 141, 86) 60%);
    transition: transform 600ms;
    transform:scale(1.2);
    background:cross-fade(10);
}

.Education:focus, .Projects:focus, .Professional-Experience:focus, .Technical-Skills :focus{
    background-color: black;
    transition: none;
}

.Education:active, .Projects:active, .Professional-Experience:active, .Technical-Skills :active{
    background-color: black;
    transition: none;
}

img {
    max-height: 200px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family:'Brush Script MT','Brush Script Std', 'cursive';
    text-align: center;
    color: black;
    background-color:rgb(15, 167, 167) ;
}



.drop-header {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .drop-header span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: drop-header 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }

  .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(168, 117, 75),
    #ff0000 29%,
    #030001 67%,
    #b91a1a 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 25% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 25% center;
  }
}
  @keyframes drop-header {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
