* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    position: relative;
    background-color: gray;
    color: #000000;
    
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(15, 167, 167);
    color: #ffffff;
}

header h1 {
    text-align: center;
    color: black;
    
    font-size: 60px;
}



header h1 .seo {
    color: black;
}

h3 {
    margin: 2%;
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



header h3 ul li {
    display: inline-block;
    margin-left: 25px;
    justify-content: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.edu, .tech, .proj, .pro {
transition: transform 600ms;
}
.edu:hover, .tech:hover, .proj:hover, .pro:hover {
    transform: translateY(-10px);
  }
 


p {
    font-size: 16px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
section{ 
position: relative;
}

.profile-pic img {
    display: block;
    margin: 2% 45% ;
    position: absolute;
    object-position: center ;
    border-radius: 50%;
    
    border: 5px solid black;
}

.profile-pic img:hover{
    transition: transform 600ms;
    transform:scale(2);
}

.center{
    align-content: center;
    justify-content: center;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 50%;
    display: inline-block;
    margin-left: 20px;   
}

.Education, .Projects, .Professional-Experience, .Technical-Skills{ 
    margin: 2%;
    padding: 20px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(15, 167, 167);
    color: #ffffff;
    transition: background-color 1s;
}

.Education:hover, .Projects:hover, .Professional-Experience:hover, .Technical-Skills:hover{
    background-color: #004369;
}

.Education:focus, .Projects:focus, .Professional-Experience:focus, .Technical-Skills :focus{
    background-color: black;
  transition: none;
}

.Education:active, .Projects:active, .Professional-Experience:active, .Technical-Skills :active{
    background-color: black;
  transition: none;
}

img {
    max-height: 200px;
}



.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

.footer h2 {
    font-size: 20px;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
